body {
    background-color: #fff;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color:#222;

}
/* nav bar */
nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 6px;
    height: 60px;
    gap: 15px;
}
a {
    text-decoration: none;

}
a:hover{
    text-decoration: underline;
}
a:visited { 
    text-decoration: none; 
    color: #222; 

}
#apps {
    filter: invert(41%) sepia(6%) saturate(422%) hue-rotate(173deg) brightness(91%) contrast(89%);
}
#apps:hover {
    filter: invert(0%) sepia(100%) saturate(17%) hue-rotate(207deg) brightness(102%) contrast(73%);
}
#user-photo {
    border-radius: 50%;
}
#user-photo:hover {
    border-style: solid;
    border-width: 1px;
    border-color:#5f6368;
}

/* nav bar */

/* main */

#google-logo {
    width: 272px;
    height: 92px;
    margin-bottom: 3rem;
    
    display: block;
    position: relative;
    top: 185px;
    margin-left: auto;
    margin-right: auto;
    width:auto;
    
}
#search-bar {
    position: relative;
    top: 164px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 584px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    height: 44px;
    
}

#search-bar:hover {
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
}

#search-icon{
    position: absolute;
    left: 15px;
    height: 20px;
    width: 20px;
    filter: invert(68%) sepia(9%) saturate(215%) hue-rotate(169deg) brightness(93%) contrast(87%);
}
#mic {
    position: absolute;
    right: 15px;
    height: 25px;
    width: 25px;
}
#typer {
    position: absolute;
    left: 53px;
    border: none;
    outline: none;
    width: 80%;
}
#btns {
    display:flex;
    justify-content:center;
    margin-top: 185px;
}
.btn {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    height: 36px;
    min-width: 54px;
    text-align: center;
}

.btn:hover {
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    border: 1px solid #dadce0;
}

/* main */

/* footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    color: #70757a;
    
    
}
#upperfter {
    border-bottom: 1px solid #dadce0;
    padding: 15px 30px;
}

#bottomfter {
    display:flex;
    justify-content: space-between;
    padding: 15px 30px;   
    gap: 50px;
}

.space {
    margin: 0px 15px 0px 0px;
}
#leaf {
    height: 14px;
    
}








/* footer */

